In [1]:
import contextlib
import sqlite3

# Setup a database for questions 1 to 3
@contextlib.contextmanager
def setup_database():
    conn = sqlite3.connect(":memory:")
    c = conn.cursor()
    c.execute("CREATE TABLE Apartments (AptID integer unique, UnitNumber text, BuildingID integer)")
    c.execute("CREATE TABLE Buildings (BuildingID integer unique, ComplexID integer, BuildingName text, Address text)")
    c.execute("CREATE TABLE Tenants (TenantID integer unique, TenantName text)")
    c.execute("CREATE TABLE Complexes (ComplexID integer unique, ComplexName text)")
    c.execute("CREATE TABLE AptTenants (TenantID integer, AptID integer)")
    c.execute("CREATE TABLE Requests (RequestID integer unique, Status text, AptID integer, Description text)")
    yield c, conn
    
    # Clean up
    conn.close()
    
def fill_database(c, conn):
    # Tenants
    c.execute("INSERT INTO Tenants VALUES (1, 'Alice')")
    c.execute("INSERT INTO Tenants VALUES (2, 'Bob')")
    c.execute("INSERT INTO Tenants VALUES (3, 'Eve')")
    
    # Complexes
    c.execute("INSERT INTO Complexes VALUEs (1, 'Complex1')")
    
    # Buildings
    c.execute("INSERT INTO Buildings VALUES (1, 1, 'Building1', 'Address1')")
    c.execute("INSERT INTO Buildings VALUES (2, 1, 'Building2', 'Address2')")
    
    # Apartments
    c.execute("INSERT INTO Apartments VALUES (1, 'Unitnumber1', 1)")
    c.execute("INSERT INTO Apartments VALUES (2, 'Unitnumber2', 1)")
    c.execute("INSERT INTO Apartments VALUES (3, 'Unitnumber3', 1)")
    c.execute("INSERT INTO Apartments VALUES (4, 'Unitnumber4', 2)")
    c.execute("INSERT INTO Apartments VALUES (5, 'Unitnumber5', 2)")
    
    # Who's renting what
    c.execute("INSERT INTO AptTenants VALUES (1, 1)")
    c.execute("INSERT INTO AptTenants VALUES (1, 4)")
    c.execute("INSERT INTO AptTenants VALUES (2, 2)")
    c.execute("INSERT INTO AptTenants VALUES (3, 5)")
    
    # Requests
    c.execute("INSERT INTO Requests VALUES (1, 'Open', 3, 'Description1')")
    c.execute("INSERT INTO Requests VALUES (2, 'Open', 4, 'Description2')")
    c.execute("INSERT INTO Requests VALUES (3, 'Open', 4, 'Description3')")
    c.execute("INSERT INTO Requests VALUES (4, 'Closed', 4, 'Description4')")
    c.execute("INSERT INTO Requests VALUES (5, 'Open', 5, 'Description5')")
    
    conn.commit()

15.1 Write a SQL query to get a list of tenants who are renting more than one apartment

In [9]:
# TODO: database is not being deleted half the time, why?
with setup_database() as (c, conn):
    fill_database(c, conn)
    c.execute("""
    SELECT TenantName, TenantID
    FROM Tenants 
    INNER JOIN (
        SELECT TenantID as t, count(AptID) as num_apts 
        FROM AptTenants 
        GROUP BY TenantID) 
    ON Tenants.TenantID == t
    WHERE num_apts > 1""")
    results = c.fetchall()
    assert len(results) == 1
    assert results[0] == ("Alice", 1)

15.2 Write a SQL query to get a list of all buildings and the number of open requests
(Requests in which status equals 'Open').

In [30]:
with setup_database() as (c, conn):
    fill_database(c, conn)
    c.execute("""
    SELECT Buildings.BuildingID, BuildingName, count(Buildings.BuildingID)
    FROM (
        SELECT BuildingID as bid
        FROM Requests 
        INNER JOIN Apartments 
        ON Requests.AptID == Apartments.AptID
        WHERE Status == 'Open')
    INNER JOIN Buildings
    ON Buildings.BuildingID == bid
    GROUP BY Buildings.BuildingID
    ORDER BY Buildings.BuildingID ASC
    """)
    results = c.fetchall()
    assert len(results) == 2
    assert results[0][2] == 1 # 1 open request
    assert results[1][2] == 3 # 3 open requests

15.3 Building #2 is undergoing a major renovation. Implement a query to close all
requests from apartments in this building.

In [29]:
with setup_database() as (c, conn):
    fill_database(c, conn)
    c.execute("""
    UPDATE Requests
    SET Status = 'Closed'
    WHERE Requests.AptID IN (
        SELECT distinct(Apartments.AptID)
        FROM Requests 
        INNER JOIN Apartments 
        ON Requests.AptID == Apartments.AptID
        WHERE Apartments.BuildingID == 2)
    """)
    
    # Then check that the correct updates were made
    c.execute("SELECT * FROM Requests WHERE AptID IN (4, 5)") # Only apartments with IDs 4 and 5 are in building 2
    results = c.fetchall()
    assert all([r[1] == "Closed" for r in results])

15.4 What are the different types of joins? Please explain how they differ and why
certain types are better in certain situation

* INNER JOIN (JOIN) returns each pair of rows in table 1 and table 2 that satisfies the join predicate.
* LEFT OUTER JOIN returns each row of table 1 paired with a row from table 2 if they satisfy the join predicate otherwise paired with null values.
* RIGHT OUTER JOIN is the same as LEFT OUTER JOIN but vice versa.
* FULL OUTER JOIN returns all rows from both tables and matches them where possible and otherwise fills out with null values.
* CROSS JOIN is the cross product of all rows in the tables, i.e. all possible pairs.

When to use which depends on the task at hand, I suppose INNER JOIN would be better when the null values from an outer join could not be interpreted as something useable. But let's say we want to compute the monthly salaries for sales employees that might have some sales commision stored in another table. Then we could use an outer join on the Employees table (with base salary information) and Commisions table and interpret null values (from no commision for some employees) as a zero.

15.5 What is denormalization? Explain the pros and cons

Normalized databases are designed to minimize redundancy, i.e. to not save the same information in more than necessary places. Denormalization is designed to instead minimize read speed. The expensive read times usually stem from joins. Denormalization thus stores information (a part from key information that connects tables) in more than one place to remove the need for joins on many common queries.

The pros of normalization is that updating or inserting new rows is easier and that it takes less space (although space is pretty cheap now so this is less of an advantage I guess). The advantage of denormalization is that it scales better since it reduces the need for joins which are expensive in complexity.

15.6 Draw an entity-relationship diagram for a database with companies, people, and
professionals (people who work for companies).

15.7 Imagine a simple database storing information for students' grades. Design
what this database might look like and provide a SQL query to return a list of the
honor roll students (top 10%), sorted by their grade point average

In [70]:
import random
import math

@contextlib.contextmanager
def setup_and_fill_db():
    conn = sqlite3.connect(":memory:")
    c = conn.cursor()
    c.execute("CREATE TABLE Students (StudentID integer unique, StudentName text)")
    c.execute("CREATE TABLE Courses (CourseID integer unique, CourseName text)")
    c.execute("CREATE TABLE Grades (StudentID integer, CourseID integer, Grade real)")

    # Create some courses
    course_ids = list(range(1, 101))
    courses = [(i, "Course{}".format(i)) for i in course_ids]
    c.executemany("INSERT INTO Courses VALUES (?, ?)", courses)

    # Create some students
    student_ids = list(range(1, 1001))
    students = [(i, "Student{}".format(i)) for i in student_ids]
    c.executemany("INSERT INTO Students VALUES (?, ?)", students)

    # Give each student some grades independently random
    grade_points = [4.00, 3.70, 3.33, 3.00, 2.70, 2.30, 2.00, 1.70, 1.30, 1.00, 0.70, 0.0]
    for i in student_ids:
        num_courses_taken = random.randint(10, 15)
        courses_taken = sorted(random.sample(course_ids, num_courses_taken))
        graded_courses = zip([i] * num_courses_taken, 
                             courses_taken, 
                             [random.choice(grade_points) for _ in range(num_courses_taken)])
        c.executemany("INSERT INTO Grades VALUES (?, ?, ?)", graded_courses)
    
    yield c
    conn.close()

with setup_and_fill_db() as c:
    # Easy way but doesn't handle the case where students have the same gpa
    # and would cause some students to get cut off even if they have the same gpa as
    # other students on the honor roll which would not be fair.
    c.execute("""
    SELECT StudentID, avg(Grade) AS gpa
    FROM Grades
    GROUP BY StudentID
    ORDER BY gpa DESC
    LIMIT (SELECT count(*) * 0.1 FROM Students)
    """)
    
    # Instead we take the top 10% of the distinct grades and then pick all students
    # with a gpa equal or higher than the minimum gpa of the top 10%.
    
    # TODO: many of these queries look very similar, can they be combined in a smart way?
    # Would be nice to have access to the count of rows directly so that we can use it in LIMIT
    # but doesnt seem possible in sqlite at least
    
    num_distinct_gpas = c.execute("""
    SELECT count(gpa)
    FROM (
        SELECT DISTINCT avg(Grade) as gpa
        FROM Grades
        GROUP BY StudentID
        ORDER BY gpa DESC)
    """).fetchone()[0]
    
    gpa_cutoff = c.execute("""
    SELECT min(gpa)
    FROM (
        SELECT DISTINCT avg(Grade) as gpa
        FROM Grades
        GROUP BY StudentID
        ORDER BY gpa DESC
        LIMIT ?)
    """, (math.ceil(num_distinct_gpas * 0.1), )).fetchone()[0]
    
    results = c.execute("""
    SELECT StudentName, sid, gpa
    FROM (
        SELECT StudentID AS sid, avg(Grade) AS gpa
        FROM Grades
        GROUP BY StudentID
        HAVING gpa >= ?
        ORDER BY gpa DESC)
    INNER JOIN Students
    ON Students.StudentID = sid
    """, (gpa_cutoff,)).fetchall()
 
    assert all(0 <= gpa <= 4.0 for _, _, gpa in results)